.button-addon {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.btn {
    width: 138px;
    height: 48px;

    border: none;
    border-radius: 10px;
    padding: 12px 16px;
    box-sizing: border-box;

    background-color: var(--secondary-orange);

    white-space: nowrap; // verhindert Zeilenumbruch komplett
    transition: width 0.3s ease, padding 0.3s ease, background-color 0.3s ease;

    &:hover {
        background-color: var(--primary-orange);
        width: 178px;
        text-align: start;

        >.button-addon {
            width: 24px; // Zielbreite deines Icons anpassen
            height: 24px;
            opacity: 1;
            padding-left: 16px;
        }
    }
}

.btn_select {
    width: 119px;
    height: 25px;

    border: none;
    border-radius: 20px;

    padding: 2px 10px;
    gap: 10px;

    font-family: 'Nokora', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: var(--primary-background-color);
}

.btn_active {
    background-color: var(--primary-orange);

    &:hover {
        cursor: pointer;
    }
}

.btn_past {
    background-color: var(--secondary-orange);

    &:hover {
        cursor: pointer;
    }
}

.secondary_button {
    background-color: var(--light-orange);
    color: white;

    width: 195px;
    height: 40px;

    font-family: 'Nokora', sans-serif;
    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 8px 12px;
    gap: 8px;
    padding: 2px 10px;

    &:hover {
        cursor: pointer;
    }

}

// dropdown

.custom_select {
    position: relative;
    width: 246px;
    height: 32px;

    font-family: 'Mulish', sans-serif;

    &--selected {
        background-color: var(--primary-background-color);
        color: var(--white);
        padding: 4px 6px;
        cursor: pointer;
        font-size: 18px;

        border: none;
        border-radius: 4px;

        &:hover {
            background-color: rgba(142, 112, 153, 0.16);

            .arrow {
                border-top: 12px solid var(--primary-orange);
            }
        }
    }

    &--options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 10;
        background-color: var(--white);

        border-radius: 6px;

    }

    &--option {
        cursor: pointer;
        font-size: 14px;
        color: var(--primary-background-color);

        &--text {
            padding: 8px 12px;
            margin: 0;
            display: inline-block;

            &:hover {
                background-color: var(--super-light-lilac);
                border-radius: 6px;
            }
        }
    }
}

.arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid var(--white);
    border-radius: 3px;

    transition: transform 0.2s ease;

    &.open {
        transform: rotateX(3.142rad)
    }
}

// checkbox

input[type="checkbox"] {
    // appearance: none;
    // -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

    &:checked {
        accent-color: var(--secondary-orange);
    }
}