<div class="detail_wrapper">



    <div class="vote_section">

        <span class="published">Published</span>

        <div class="vote_section--infos displayflex_space--between">
            <p>Ends in {{ surveyCreateService.surveys()[0].endDate }}</p>
            <p>Category: {{ surveyCreateService.surveys()[0].category }}</p>
        </div>


        <h1 class="h1_margin">{{ surveyCreateService.surveys()[0].name }}</h1>
        <p>{{ surveyCreateService.surveys()[0].description }}</p>


        <div class="vote_section--questions">

            @for(question of surveyCreateService.surveys()[0].questions; track $index; let i = $index) {
            <div class="question_wrapper">



                <h3>{{ i + 1 }}. {{ question.questionText }}</h3>

                @if(question.allowMultiple){
                <span>More than one answers are possible</span>
                }

                @for(answer of question.answers; track $index; let ai = $index) {
                <div class="displayflex" (click)="surveyCreateService.toggleAnswer(i, ai, question.allowMultiple)">

                    <input type="checkbox" [checked]="surveyCreateService.isSelected(i, ai)" readonly>
                    <!-- ← readonly damit Angular den State kontrolliert -->
                    <label>
                        <p>{{ getLetter(ai) }}. {{ answer.text }}</p>
                    </label>
                </div>
                }
            </div>
            }

        </div>
        <div routerLink="/" class="button_wrapper displayflex_space--end">
            <div class="btn_complete">
                <a>Complete survey</a>
            </div>
        </div>

    </div>

    <div class="survey-info"></div>

    <div class="result_section">

        @for(question of surveyCreateService.surveys()[0].questions; track $index; let i = $index) {
        <div class="question_wrapper">

            <h3>{{ i + 1 }}. {{ question.questionText }}</h3>

            @if(question.allowMultiple){
            <span>More than one answers are possible</span>
            }

            @for(answer of question.answers; track $index; let ai = $index) {
            <div class="displayflex" (click)="surveyCreateService.toggleAnswer(i, ai, question.allowMultiple)">

                <label>
                    <p>{{ getLetter(ai) }}. {{ answer.text }}</p>
                </label>
            </div>
            }
        </div>
        }

    </div>

</div>