:host {
    max-width: 1059px;
    width: 100%;
    min-height: 855px;
    background-color: var(--white);
    display: flex;

    color: var(--primary-background-color);
    font-family: 'Mulish', sans-serif;
}

span {
    margin-bottom: 20px;
}

h3{
    margin-bottom: 4px;
}

.vote_section {
    background-color: var(--super-light-purple);
    padding: 40px;
    border-radius: 0px 160px 0px 0px;
}

.published {
    width: 100%;
    max-width: 21px;
    height: 15px;
    padding: 3px 6px;
    border-radius: 0 13px 0 0;
    border: none;
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-purple);
    background-color: var(--secondary-orange);

    font-style: semi-bold;
    font-size: 16px;
}

.vote_section--questions {
    background-color: aqua;
    display: grid; // aufteilung in 2 spalten
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.question_wrapper {
    background-color: green;
}


@media (max-width: 700px) {
    .question_wrapper {
        grid-template-columns: 1fr;
    }
}