<div class="new_survey--container displayflex_center">
    <div class="new_survey--text">
        <h1>Collect Feedback, Unlock Ideas</h1>
        <p>Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your
            audience,
            and turn feedback into action.</p>
        <button class="btn btn-primary">New <search></search>urvey</button>
    </div>

    <div class="new_survey--image">
        <img class="survey-image" src="/images/survey-main.svg" alt="survey image">
    </div>
</div>