<div class="new_survey--container displayflex_center">
    <div class="new_survey--text">
        <h1 class="headline_styling">Collect Feedback, Unlock Ideas</h1>
        <p class="basic_text">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your
            audience,
            and turn feedback into action.</p>
        <button class="btn btn_text displayflex_center"><b>New survey</b><img class="button-addon" src="/images/button_plus.svg"></button>
    </div>

<div class="new_survey--image">
    <img class="survey_image survey_image--default" src="/images/survey-main1.svg" alt="survey image">
    <img class="survey_image survey_image--hover" src="/images/survey-main2.svg" alt="survey image">
</div>
</div>