<div class="new_survey--container displayflex_center">
    <div class="new_survey--text">
        <h1 class="headline_styling">Collect Feedback, Unlock Ideas</h1>
        <p class="basic-text">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your
            audience,
            and turn feedback into action.</p>
        <button class="btn btn-text"><b>New survey</b></button>
    </div>

    <div class="new_survey--image">
        <img class="survey-image" src="/images/survey-main.svg" alt="survey image">
    </div>
</div>