.new_survey--container {
    width: 100%;
    max-width: 1218px;
    height: 420px;
}

.new_survey--text {
    width: 100%;
    max-width: 712px;
}

.survey-image {
    width: 420px;
    height: 420px;
}