:root {
    --primary-background-color: rgb(53, 40, 58);
    /*dunkl Lila*/

    --light-purple: rgba(142, 112, 153, 0.16);
    /*helles Lila für container und hover effecte*/

    --super-dark-lilac: rgba(34, 18, 39, 1);

    --super-light-lilac: rgba(244, 233, 251, 1);

    --primary-orange: rgb(255, 182, 112);
    /* Orange */
    --secondary-orange: rgb(255, 207, 161);
    /* Helleres Orange */
    --light-orange: rgba(255, 183, 112, 0.3);

    --light-orange-hover: rgba(255, 183, 112, 0.6);


    --light-lilac: rgb(255, 207, 161);
    /* Flieder */
    
    --white: rgba(255, 255, 255, 1);
    /* Weiß */

    --off-white: rgba(250, 245, 254, 1);
    /*for BG Card*/

    --field-background-light-lilac: rgba(254, 253, 255, 1);
    /*für den Hintergrund*/

    --field--background-light-orange: rgba(255, 235, 219, 1);
}