.your_survey--container {
    width: 1042px;
    // max-width: 1042px;
    min-height: 522px;
}

.card_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.position_center {
    text-align: center;
}

.styling_h2 {
    margin-bottom: 20px;
}