.create_survey--wrapper {
    background-color: var(--white);
    width: 100vh;
    height: 100%;


}

.create_survey--top {

    background-color: var(--primary-background-color);

    >.survey_top--text {
        background-color: var(--light-purple);

        >span {
            font-family: 'Mulish', sans-serif;
            font-size: 12px;
            background-color: var(--secondary-orange);
            width: 59px;
            height: 26px;
            padding: 3px 12px 3px 8px;
            text-align: center;

            color: var(--primary-background-color);

            border: none;
            border-radius: 0 14px 0px 0px;
        }
    }
}

.survey_card--name {
    background-color: red;
}

.survey_card--description{
    background-color: green;
}

input[type="date"] {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  &::-webkit-datetime-edit {
    color: var(--primary-orange);
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
  }

  // Auch einzelne Teile individuell stylebar
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
        color: var(--primary-orange);
  }
}