<div class="create_survey--wrapper">
    <div class="create_survey--top">

        <div class="survey_top--text">
            <span>Darft</span>

            <div class="btn_cancle--wrapper">
                <h1>create new survey</h1>
                <a class="secondary_button displayflex btn_cancle">Cancle <img src="/images/add_circle_white.svg"></a>
            </div>
        </div>

        <div class="create_survey--card displayflex_space--between align_start">
            <div class="survey_card--name displayflex_column">

                <label for="surveyName">Survey name</label>
                <div class="margin_spacer displayflex">
                    <input id="surveyName" type="text" [formControl]="surveyName">
                    <img class="img_waist" (click)="deleteInput(surveyName)" src="/images/delete.svg">
                </div>

                <div class="align_start displayflex_space--between">
                    <div>
                        <label for="surveySetEndDate">Set end date (optional)</label>
                        <div class="displayflex_space--between margin_spacer">
                            <input id="surveySetEndDate" type="date" [formControl]="surveyEndDate">
                            <img class="img_waist" (click)="deleteInput(surveyEndDate)" src="/images/delete.svg">
                        </div>
                    </div>

                    <!--Dropdown-->
                    <div class="custom_select">
                        <div class="custom_select--selected displayflex_space--between"
                            (click)="dropDown.toggleDropdown()">
                            {{ dropDown.choose }} <span class="arrow" [class.open]="dropDown.isOpen"></span>
                        </div>
                        @if(dropDown.isOpen) {
                        <ul class="custom_select--options">

                            @for(option of dropDown.categoryOptions; track option.value) {

                            <li class="custom_select--option" (click)="dropDown.selectOption(option)">
                                <p class="custom_select--option--text"> {{ option.label}}</p>
                            </li>
                            }
                        </ul>
                        }
                    </div>
                </div>


                <div class="questions">
                    <label for="surveyQuestions">{{questions}}. Question</label>
                    <div class="margin_spacer displayflex">
                        <input id="surveyQuestions" type="text" [formControl]="surveyQuestions">
                        <img class="img_waist" (click)="deleteInput(surveyQuestions)" src="/images/delete.svg">
                    </div>

                    <div class="displayflex displayflex_space--between">
                        <label for="surveyAnswer">Answers</label>
                        <div class="displayflex">
                            <input id="surveyAnswer" type="checkbox" [formControl]="surveyAnswer">
                            <p class="surveyAnswer--text">Allow multiple answers.</p>
                        </div>
                    </div>

                    @for(answer of answers.controls; track i; let i = $index) {
                    <div class="margin_spacer displayflex">
                        {{ getLetter(i) }}.
                        <input type="text" [formControl]="$any(answer)">

                        @if(i > 0) { <!-- ← nur ab dem zweiten Feld anzeigen -->
                        <img class="img_waist" (click)="deleteAnswer(i)" src="/images/delete.svg">
                        }
                    </div>
                    }

                    <div class="displayflex_space--between">
                        @if(canAddAnswer) {
                        <div (click)="addAnswer()" class="displayflex margin_spacer align_center"
                            [class.disable]="!surveyAnswer.value">
                            <p>add Answer</p>
                            <img src="/images/add_circle.svg">
                        </div>
                        }

                        @if(canAddAnswer){
                        <div [class.dpn]="!surveyAnswer.value">
                            <p>You can add up to 6 answer fields</p>
                        </div>
                        }

                    </div>

                </div>
            </div>

            <div class="survey_card--description displayflex_column margin_spacer">
                <label for="surveyDescription">Describing text (optional)</label>
                <div class="displayflex margin_spacer">
                    <input id="surveyDescription" type="text" [formControl]="surveyDescription"><img
                        (click)="deleteInput(surveyDescription)" src="/images/delete.svg">
                </div>

                <button class="secondary_button displayflex">Add next question<img
                        src="/images/add_circle_white.svg"></button>

            </div>
        </div>

    </div>
    <button (click)="updateInput()" [disabled]="!surveyName.valid">Publish</button>
    <!-- Button ist disabled, wenn Name nicht eingegeben-->