.create_survey--wrapper {
    // background-color: var(--white);
    width: 100vh;
    height: 100%;
}

.create_survey--top {

    background-color: var(--primary-background-color);

    >.survey_top--text {
        // background-color: var(--light-purple);

        >span {
            font-family: 'Mulish', sans-serif;
            font-size: 12px;
            background-color: var(--secondary-orange);
            width: 59px;
            height: 26px;
            padding: 3px 12px 3px 8px;
            text-align: center;

            color: var(--primary-background-color);

            border: none;
            border-radius: 0px 14px 0px 0px;
        }
    }
}


.create_survey--card {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    padding: 16px;
    gap: 64px;
    background-color: var(--light-purple);
    border-radius: 5px 80px 5px 5px;
}

.img_waist {
    width: 26px;
    height: 26px;

    &:hover {
        cursor: pointer;
    }
}

.survey_card--name {
    width: 50%;
    height: 100%;
    padding: 8px;
}

.margin_spacer {
    margin: 4px 0px 12px 0px;
    gap: 8px;
}

.surveyAnswer--text {
    margin: 0px;
    font-weight: 400;
    font-style: regular;

}

.survey_card--description {
    // background-color: green;
    width: 50%;
    height: 100%;
    padding: 8px;
}

#surveyDescription{
    height: 108px;
}

.questions{
    margin-top: 32px;
}

input[type="date"] {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;

    &::-webkit-datetime-edit {
        color: var(--primary-background-color);
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
    }

    // Auch einzelne Teile individuell stylebar
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-year-field {
        color: var(--primary-background-color);
    }
}

// Styling der Felder:

input[type="text"] {
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 5px 20px 5px 5px;
    background-color: var(--field-background-light-lilac);
    padding: 4px 14px;

    // Standard-Browser-Styling kann ich so deaktivieren
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        background-color: var(--field--background-light-orange);
        outline: none; // entfernt den weiß/schwarzen Fokusring komplett
    }
}

input[type="date"] {

    width: 222px;
    height: 37px;

    &:disabled {
        background-color: #eee;
        color: #999;
        cursor: not-allowed;
    }
}

.disable {
    opacity: 0.4;
    cursor: not-allowed !important;
    pointer-events: none;
}