<div class="create_survey--wrapper">
    <div class="create_survey--top">

        <div class="survey_top--text">
            <span>Darft</span>
            <h1>create new survey</h1>
            <a>Cancle X</a>
        </div>

        <div class="create_survey--card displayflex_space--between">
            <div class="survey_card--name displayflex_column">

                <label for="surveyName">Survey name</label>
                <div class="displayflex_space--between margin_spacer">
                    <input id="surveyName" type="text" [formControl]="surveyName">
                    <img class="img_waist" (click)="deleteInput(surveyName)" src="/images/delete.svg">
                </div>

                <label for="surveySetEndDate">Set end date</label>
                <div class="displayflex_space--between margin_spacer">
                    <input id="surveySetEndDate" type="date" [formControl]="surveyEndDate">
                    <img class="img_waist" (click)="deleteInput(surveyEndDate)" src="/images/delete.svg">
                </div>

                <label for="surveyQuestions">{{questions}}. Question</label>
                <div class="displayflex_space--between margin_spacer">
                    <input id="surveyQuestions" type="text" [formControl]="surveyQuestions">
                    <img class="img_waist" (click)="deleteInput(surveyQuestions)" src="/images/delete.svg">
                </div>

                <label for="surveyAnswer">Answers</label>
                <div class="displayflex_space--between margin_spacer">
                    <input id="surveyAnswer" type="text" [formControl]="surveyAnswer">
                    <img class="img_waist" (click)="deleteInput(surveyAnswer)" src="/images/delete.svg">
                </div>

                <input id="surveyAnswer" type="checkbox" [formControl]="surveyAnswer">


                <!-- <h1>{{surveyName.value}}</h1> so greife ich auf den value aus der form zu
            <h1>{{surveyName.valid}}</h1> -->

            </div>

            <div class="survey_card--description">
                <label for="surveyDescription">Survey description</label>
                <input id="surveyDescription" type="text" [formControl]="surveyDescription"><img
                    (click)="deleteInput(surveyDescription)" src="/images/delete.svg">
            </div>


        </div>


    </div>


    <button (click)="updateInput()" [disabled]="!surveyName.valid">Publish</button>
    <!-- Button ist disabled, wenn Name nicht eingegeben-->
</div>