@font-face {
    font-family: 'Nerko-One';
    src: url('/fonts/nerko-one-latin-400-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/mulish-latin-700-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Nokora';
    src: url('/fonts/nokora-latin-400-normal.woff2') format('woff2');
}



h1 {
    font-family: 'Nerko-One', sans-serif;
    font-size: clamp(48px, 6vw, 100px);
    color: var(--primary-orange);
}

h2 {
    font-family: 'Nerko-One', sans-serif;
    font-size: clamp(36px, 4vw, 72px);
    color: var(--primary-orange);
    font-weight: 400;
}


.basic_text {
    font-family: 'Mulish', sans-serif;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;

    &--big {
        @extend .basic_text;
        font-size: 32px;
    }
}

.btn_text {
    color: var(--super-dark-lilac);
    font-family: 'Nokora', sans-serif;
    font-size: 18px;
}